## Запрещение просмотра содержимого каталогов
Options All -Indexes +FollowSymLinks

## Назначение перенаправлений
<IfModule mod_rewrite.c>
    ## Включает работу механизма преобразования
    RewriteEngine On

    ## Устанавливает базовый URL для преобразований
    RewriteBase /

    ## Перенаправление на основной адрес страницы, если:
    # - адрес запрашиваемой страницы заканчивается на "/"
    RewriteCond %{REQUEST_FILENAME} !-d [NC]
    RewriteRule ^(.*)\/$ $1 [R=301,L]
    # - адрес запрашиваемой страницы начинается с "www" (без учета регистра)
    RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
    # - адрес запрашиваемой страницы заканчивается на "index.(html|php)"
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*)/index\.(html|php)$ /$1 [R=301,L]
    # - адрес запрашиваемой страницы заканчивается на ".(html|php)"
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^.*$ $0.hmtl [L,QSA]
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^.*$ $0.php [L,QSA]
    RewriteCond %{THE_REQUEST} ([^\s]*)\.(html|php)(\?[^\s]*)?
    RewriteRule (.*) %1 [R=301,L]
</IfModule>

## Назначние высокого приоритета индексного файла .php
DirectoryIndex index.php

## Установка часового пояса
<IfModule mod_setenvif.c>
	SetEnv TZ Europe/Moscow
</IfModule>

## Скрытие данных о сервере
ServerSignature Off

## Отключение назначение сервером кодировки по умолчанию
AddDefaultCharset Off