.block_w-10per {
    width: 10% !important;
}
.block_w-20per {
    width: 20% !important;
}
.block_w-30per {
    width: 30% !important;
}
.block_w-40per {
    width: 40% !important;
}
.block_w-50per {
    width: 50% !important;
}
.block_w-60per {
    width: 60% !important;
}
.block_w-70per {
    width: 70% !important;
}
.block_w-80per {
    width: 80% !important;
}
.block_w-90per {
    width: 90% !important;
}
.block_w-100per {
    width: 100% !important;
}
