button,
.button {
    color: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
.button[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
